@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Share Tech Mono";
    font-size: 32px;
}

.corpo {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: white;
}

.main {
    display: flex;
    width: 80%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

button {
    width: 200px;
    height: 50px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: 0px 10px 40px #00000056;
    border-radius: 8px;
}

button:hover {
    transform: scale(1.05);
}

#temaLight {
    background-color: rgb(240, 240, 240);
}

#temaDark {
    background-color: rgb(80, 80, 80);
    color: white;
}

#temaGreen {
    background-color: rgb(70, 140, 100);
    color: white;
}

#temaIndigo {
    background-color: rgb(0, 120, 210);
    color: white;
} 

img {
    align-self: flex-start;
}

.lampada {
    width: 5%;
}

.dark {
    width: 5%;
    display: none;
    color: white;
    border-radius: 30px;
}

.green {
    width: 15%;
    margin-left: -60px;
    display: none;
    height: 8.5%;
}

.indigo {
    width: 5%;
    display: none;
}

@media (max-width:768px) {
    img {
        align-self: center;
    }
    .lampada {
        width: 20%;
    }
    .dark {
        width: 20%;
    }
    .green {
        margin-left: 0px;
        width: 40%;
        height: 20%;
    }
    .indigo {
        width: 20%;
    }
}

@media (max-width:426px) {
    .green {
        height: 10%;
    }
}