@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #F0F8FF;
    color: #59429d;
    font-family: 'Share Tech Mono';
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /* gap: 5%; */
}

.header {
    padding-top: 2%;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
}

.campo {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 0.2vw;
}

input, select, textarea, button{
    border-radius: 5px;
}

.botao{
    font-size: 1.2em;
    background: #59429d;
    border: 0;
    color: #ffffff;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    padding: 10px 0px;
}

.botao:hover{
    transform: scale(1.05);
}